// Подключаем bootstrap. Сброс css стилей браузера //

@import "bootstrap-reboot.min.scss";

// Устанавливаем ширину контейнера //

.container {
    max-width: 945px;
    margin: 0 auto;
}

// Подключаем шрифты //

@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"),
            url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

@import "fonts.scss";

// Подключаем блоки стилей //

@import "navbar.scss";
@import "first.scss";

// Отступы по краям в секциях //

.section-outer {
    padding-right: 20px;
    padding-left: 20px;
}
